<!-- condominio/templates/registration/password_change_done.html -->
{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto p-6 md:p-8 mt-12 container-box text-center">
    <h1 class="text-2xl md:text-3xl font-bold text-green-600 mb-4">¡Contraseña Cambiada!</h1>
    <p class="text-gray-700">Tu contraseña ha sido actualizada exitosamente.</p>
    <a href="{% url 'dashboard' %}" class="inline-block mt-6 bg-blue-600 text-white px-4 py-2 rounded-xl hover:bg-blue-700 transition duration-300">
        Volver al Dashboard
    </a>
</div>
{% endblock %}