# Archivos de Python
__pycache__/
*.pyc

# Entorno Virtual
venv/

# Base de datos de desarrollo
db.sqlite3
*.sqlite3

# Archivos de Medios y Estáticos generados
media/
staticfiles/

# Archivos temporales de Excel
~$*.xlsx

# Archivos del sistema operativo
.DS_Store